/* highlight.js */

.hljs-comment,.hljs-quote{color:#8e908c}.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion{color:#c82829}.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link{color:#f5871f}.hljs-attribute{color:#eab700}.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition{color:#718c00}.hljs-title,.hljs-section{color:#4271ae}.hljs-keyword,.hljs-selector-tag{color:#8959a8}.hljs{display:block;overflow-x:auto;background:white;color:#4d4d4c;padding:0.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}

/* app */

.hljs {
  background: #fafafa;
  border-bottom: 2px solid #e5e5e5;
  border-left: 3px solid #69c;
  padding: 15px;
}

* {
  transition: 200ms all;
}

body {
  font-family: sans-serif;
  color: #333;
  background: #efefef;
  margin: 0;
}

.content {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  padding: 50px;
  background: white;
  box-sizing: border-box;
  position: relative;
}

.btn {
  text-decoration: none;
  border: 1px solid #bebebe;
  padding: 10px 30px;
  border-radius: 130288px;
  color: black;
  font-weight: bold;
  border-bottom-color: #999;
  border-right-color: #999;
  margin-top: -30px;
  position: absolute;
}

.btn:hover {
  background: #efefef;
}

.left {
  left: 30px;
}

.right {
  right: 30px;
}

@media only screen and (max-width: 500px) {
  .content {
    padding: 50px 25px;
  }

  .btn {
    text-align: center;
    display: inline-block;
    width: 45vw;
    box-sizing: border-box;
  }

  .left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 5vw;
  }

  .right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    right: 5vw;
  }
}